body {
    transition: background 5s linear;
}

#rain {
    z-index: 2;
    position: fixed;
    opacity: 0.4;
    background: transparent;
}

#rain img {
    position: fixed;
    top: -44px;
    left: -22px;
    image-rendering: pixelated;
    scale: 2;
    mix-blend-mode: multiply;
    transition: top 5s linear, left 5s linear;
}

#player {
    visibility: hidden;
}
